body {}

.nav {
  margin: 10px 0;
}

.nav__link {
  margin-right: 10px;
  cursor: pointer;
}

.search {
  margin-bottom: 10px;
}

.search input {
  margin-right: 10px;
}

.forecasts {
}

.forecasts__item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}
