<!DOCTYPE html>
<html>
  <head>
    <title>WifirstWeather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
  </body>
</html>
